*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


body{
    background-color: cadetblue;
    text-align: center;
}


.Heading{
    color: whitesmoke;
    font-weight: 700;
    background-color: crimson;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;    
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    text-align: center;
}


.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    font-size: 8vmin;
    color: blueviolet;
    font-weight: 600;
}

button{
    background-color: rgb(133, 235, 31);
}

#reset-btn{
    margin-left: 6px;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: azure;
}